{% extends 'VocabTrainer/templates/base.html' %}

{% block content %}


<h2 class="word-detail"> What does <span class="searched">{{ word.word.abstract_word }}</span> mean in {{ word.language.name }}?</h2>
<div class="overview-container">
    <div class="overview">
    {%  if is_submitted %}
        {% if is_match %}
            <h2>Correct, {{ word.word.abstract_word }} means {{ word.text }} in {{ word.language }}</h2>
        {% else %}
            <h2>Try Again</h2>
        {% endif %}
        {% else %}
        <form method="post" action=" {% url 'word-detail' word.pk %}">
        {% csrf_token %}
            <label for="word_input"> Type the word {{ word.word.abstract_word }} in</label>
            <input type="text" id="word_input" name="word_input" placeholder="{{ word.word.abstract_word }}">
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</div>
</div>

<div class="card">
{#    <form method="post" action="{%  url 'word-detail' current_word.id %}">#}
{#        {% csrf_token %}#}
{#        <fieldset>#}
{#            <legend>Word Bedeutung</legend>#}
{#            {{ form.as_p }}#}
{#            <button type="submit">Go</button>#}
{#        </fieldset>#}
{#    </form>#}
</div>

{% endblock %}