{% extends 'VocabTrainer/templates/base.html' %}

{% block content %}

    <h1> {{ current_word.word.abstract_word }}

    </h1>

<div class="card">
    <form method="post" action="">
        {% csrf_token %}
        <fieldset>
            <legend> <h3> <em>{{ current_word.word.abstract_word }}</em> in {{ current_word.language }}</h3> </legend>
            <em> {{ current_word.definition }}</em>
            {{ form.as_p }}
            <button type="submit">Check</button>
        </fieldset>

    </form>
</div>
{% endblock %}